<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增班级</title>
    <link rel="stylesheet"
          href="../../layuicms/layui/css/layui.css" >
    <script type="text/javascript"
            src="../../js/jquery-2.1.1.js" ></script>
    <script type="text/javascript"
            src="../../layuicms/layui/layui.js"></script>
</head>
<body>
    <div class="container">
        <div class="layui-form">
            <div style="background-color: #DDDDDD;">
                <h2 style="margin-left: 10px;line-height:42px;">新增班级</h2>
            </div>
            <br />
            <div class="layui-row">
                <div class="layui-col-sm6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">班级名称:</label>
                        <div class="layui-input-block">
                            <input type="text" id="classname" name="classname" lay-verify="classname" autocomplete="off" placeholder="请输入标题" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="text-align: left">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm " id="btnSave"><i class="layui-icon layui-icon-ok " ></i>提交</button>
                <button class="layui-btn layui-btn-sm " id="btnCancel"><i class="layui-icon layui-icon-close " ></i>取消</button>
            </div>
            </div>
        </div>
    </div>
</body>
<script>
    layui.use(['form','laydate'], function() {
        var form = layui.form
            ,laydate = layui.laydate;

        laydate.render({
            elem: '#time',
            type:'date',
            value:new Date()
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#btnCancel").click(function(){
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);//关闭弹出的子页面窗口
        });
    });
</script>
<script>
    $(document).ready(function(){
        function Verification(){
            var a1=$("#classname").val();
            if(a1=="" || a1==null){
                layer.msg('班级名称不能为空', {icon: 2,time: 1000},function(){$("#classname").focus()});
                return false;
            }
            return true;
        }
        $("#btnSave").click(function(){
            if(Verification()==true){
                $.ajax({
                    type:"post",
                    url:"../stuClass/addStuClass",
                    data:{
                        classname:$("#classname").val()
                    },
                    dataType:"json",
                    success:function(data){
                        if(data>0){
                            layer.msg('添加成功',{icon:6,time:2000},function(){var index = parent.layer.getFrameIndex(window.name);parent.location.reload();
                                parent.layer.close(index);});
                        }else{
                            alert("添加失败！");
                        }
                    },
                    error:function(){
                        alert("ajax错误！");
                    }
                });
            }

        });
    });
</script>
</html>